<!DOCTYPE html>
<html class="page-html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
  <link rel="stylesheet" type="text/css" href="../../css/index_chat.css" />
  <title>喷塔Q</title>
</head>
<body>
<!--头部-->
<header class="aui-bar aui-bar-nav">
  <a class="aui-pull-left aui-btn" href="javascript:history.go(-1);">
    <span class="aui-iconfont aui-icon-left"></span>
  </a>
  <div class="aui-title">关于我们</div>
  <a class="aui-pull-right aui-btn" href="/view/html/index.html">
       <span class="aui-iconfont aui-icon-home"></span>
   </a>
</header>
<article class="c_body">
  <div class="type-detail">
    <div class="aui-content-padded aui-text-center aui-padded-b-15">
      <div class="logo-box">
        <img class="aui-img-round" src="../../images/logo.png" alt="喷塔Q">
      </div>
    </div>
    <ul class="aui-list">
      <li class="aui-list-item" onclick="window.location.href='/view/html/privacyPolicy.html?page=aboutUs'">
        <div class="aui-list-item-inner">
          <div class="aui-list-item-label">隐私政策</div>
          <i class="aui-iconfont aui-icon-right"></i>
        </div>
      </li>
      <li class="aui-list-item" onclick="window.location.href='/view/html/protocol.html?page=aboutUs'">
        <div class="aui-list-item-inner">
          <div class="aui-list-item-label">商城条款</div>
          <i class="aui-iconfont aui-icon-right"></i>
        </div>
      </li>
    </ul>
    <div class="aui-text-center aui-margin-t-15">
      <div class="aui-margin-b-10 aui-padded-t-15">客服电话：<span class="aui-text-primary">029-85399000</span></div>
      <div>服务时间：09:00-20:00</div>
    </div>
  </div>
  <footer class="aui-card-list-footer aU-footer">
    <div class="aui-col-xs-12 aui-text-grey">Copyright©2017&nbsp;&nbsp;陕ICP备13002508号-6</div>
  </footer>
</article>
</body>
</html>