<!DOCTYPE html>
<html class="page-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index_chat.css" />
    <title>喷塔Q</title>
</head>
<body>
<!-- header -->
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">选择英雄</div>
    <a class="aui-pull-right aui-btn" href="/view/html/index.html">
     <span class="aui-iconfont aui-icon-home"></span>
 </a>
</header>
<article class="c_body Fbtn-L-body">
    <!-- conStar -->
    <section class="c_con aui-bg-white clear-fix">
        <div id="heroType" class="c_heroClassifyTab">
            <!--<div class="c_tank on">坦克</div>-->
            <!--<div class="c_soldier">战士</div>-->
            <!--<div class="c_assassin">刺客</div>-->
            <!--<div class="c_master">法师</div>-->
            <!--<div class="c_shooter">射手</div>-->
            <!--<div class="c_assist">辅助</div>-->
        </div>
        <article id="heroesBox" class="c_heroClassifyCon">
            <ul class="c_heroBox clear-fix">
                <!--<li>-->
                    <!--<img src="../../images/cyj.png" alt="程咬金">-->
                    <!--<span class="heroName">程咬金</span>-->
                <!--</li>-->
            </ul>
        </article>
    </section>
    <!-- conEnd -->
    <!-- btnStar -->
</article>
<footer class="aui-card-list-footer  c_btn aui-border-t">
    <a class="aui-btn aui-btn-basic aui-btn-block" href="javascript:void(0);" onclick="saveHeroes();" target="_self">保存</a>
</footer>
<!-- btnEnd -->

<script src="../../js/jquery-1.11.1.min.js"></script>
<script src="../../js/layer/layer.js"></script>
<script src="../../js/chooseHero.js"></script>
</body>
</html>