<!DOCTYPE html>
<html style="font-size: 50px !important;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/fruit.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <title></title>
    <style>
        .aui-bar-nav{    line-height: 0.8rem;}
        .aui-bar-nav .aui-title{min-height: 0}
        .aui-bar-nav .aui-btn .aui-iconfont{font-size: 23px}
        .aui-bar-nav .aui-title{    right: 0;  left: 4px;font-size: 20px;}
        .aui-bar-nav .aui-btn{  height:45px;}
        .aui-bar{min-height: 45px;}
        .aui-bar-nav .aui-pull-left{padding: 0 0.12rem;}
    </style>
</head>
<body class="aui-bg-white">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">攻略详情</div>
</header>
<article class="c_body">
    <div class="for_glb_main" style="font-family:'微软雅黑' ;margin-top: 45px">
        <div class="for_glb_main" style="font-family:'微软雅黑'">
            <div class="glb_main_content">
                <h1 class="news-title">杨戬不寻常出装被天美警告 一看战绩啪啪打脸</h1>
                <div class="news-info">
                    <span>2017-05-25</span>
                    <span>18183</span>
                    <span class="read">阅读：189&nbsp;来源:网络</span>
                </div>
                <div class="news-content">
                    <p>
                        王者荣耀萌新通往超神最便捷的途径便是学习大神的出装。掌握正确的出装，至少不会被虐的很惨。但大神玩家就无所谓了，可以看情况随机出装，毕竟有技术就是任性。然而近日虎牙直播一位叫做上好佳的主播，玩杨戬被天美警告，原因竟然是不按常规出装!</p>
                    <p style="text-align: center;">
                        <img alt="杨戬不寻常出装被天美警告 一看战绩啪啪打脸" src="//img.18183.com/uploads/allimg/170525/70-1F525102644.jpg"></p>
                    <p>
                        像往常一样，上好佳根据观众的弹幕投票，玩了一把二郎神杨戬。一顿操作猛如虎，无线超神，越塔狂杀，经过和队友的不懈努力，虐菜如切菜，碾压对面20多个人头，最终对面无奈认输投降了。杨戬拿下了当场的MVP，12-3-10的战绩。</p>
                    <p style="text-align: center;">
                        <img alt="杨戬不寻常出装被天美警告 一看战绩啪啪打脸" src="//img.18183.com/uploads/allimg/170525/70-1F525102645.jpg"></p>
                    <p>
                        然而在刚刚离开界面的时候，竟然收到这样一条提示，说上好佳的出装不合理。引起观众不满，观众表示也不看看战绩，这就是我们玩杨戬最喜欢用的出装!</p>
                    <p style="text-align: center;">
                        <img alt="杨戬不寻常出装被天美警告 一看战绩啪啪打脸" src="//img.18183.com/uploads/allimg/170525/70-1F525102646.jpg"></p>
                    <p>
                        下面是上好佳“不寻常”的杨戬出装，召唤师们可以畅所欲言，评价一下。</p>
                    <p style="text-align: center;">
                        <img alt="杨戬不寻常出装被天美警告 一看战绩啪啪打脸" src="//img.18183.com/uploads/allimg/170525/70-1F525102646-50.jpg"></p>
                    <p>
                        由于主播上好佳一直对英雄技能及出装颇有研究，因此喜欢玩杨戬的玩家也可以试试他这个不寻常出装，确实很强，也许会收到意想不到的效果!</p>
                    <p>
                        是不是还没感受过天美这份特殊的礼物，毕竟这只有英雄的大神玩家才能收到提示。那就赶快把技术练好吧!玩杨戬，千万不要怂!</p>
                </div>
                <!--<div class="news-footer"><div class="news-full">189 阅读</div></div>-->
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
</article>
</body>
<script src="../../js/jquery-1.11.1.min.js"></script>
<script src="../../js/fruitIndex.js"></script>
</html>