<!DOCTYPE html>
<html style="font-size: 50px !important;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/fruit.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <title></title>
    <style>
	    .aui-bar-nav{    line-height: 0.8rem;}
	    .aui-bar-nav .aui-title{min-height: 0}
	    .aui-bar-nav .aui-btn .aui-iconfont{font-size: 23px}
	    .aui-bar-nav .aui-title{    right: 0;  left: 4px;font-size: 20px;}
	    .aui-bar-nav .aui-btn{  height:45px;}
	    .aui-bar{min-height: 45px;}
	    .aui-bar-nav .aui-pull-left{padding: 0 0.12rem;}
	</style>
</head>
<body class="aui-bg-white">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">攻略详情</div>
</header>
<article class="c_body">
    <div class="for_glb_main" style="font-family:'微软雅黑'; margin-top: 40px">
        <div class="glb_main_content">
            <h1 class="news-title">王者荣耀KPL中秀得飞起的诸葛亮都是些什么人</h1>
            <div class="news-info">
                <span>2017-05-25</span>
                <span>18183</span>
                <span class="read">阅读：160&nbsp;来源:网络</span>
            </div>
            <div class="news-content">
                <p>
                    在虎牙直播王者荣耀KPL结束的九周精彩比赛中，法师作为整支战队的核心输出位在选择上非常重要，诸葛亮既拥有多段位移还能打出高额伤害，在KPL赛场一直备受职业选手的青睐，那么虎牙直播就带你们了解谁才是KPL战场是最强诸葛亮!</p>
                <p style="text-align: center;">
                    <img alt="王者荣耀KPL中秀得飞起的诸葛亮都是些什么人" src="//img.18183.com/uploads/allimg/170525/70-1F525110000.jpg"></p>
                <p>
                    首先是JC、Danglang，他手下的诸葛亮拿到本赛季第一个五杀，而且对手是AG超玩会，但是那一场JC并没有取得胜利，而本赛季Danglang的诸葛亮胜率只有54.5%不及他的貂蝉。</p>
                <p style="text-align: center;">
                    <img alt="王者荣耀KPL中秀得飞起的诸葛亮都是些什么人" src="//img.18183.com/uploads/allimg/170525/70-1F525110001.jpg"></p>
                <p>
                    XQ、AT, 在新赛季表现突出并且和老帅并称国服第一中单，诸葛亮在他手上就是一个字“怼”，在队友的保护下各种变态收割，玩得出神入化，而他的胜率达到了75%，使用了16场!</p>
                <p style="text-align: center;">
                    <img alt="王者荣耀KPL中秀得飞起的诸葛亮都是些什么人" src="//img.18183.com/uploads/allimg/170525/70-1F525110002.jpg"></p>
                <p>
                    AG超玩会、老帅，他的诸葛亮用网友的话来解释“玩得溜得一笔，也浪的一笔”，他对诸葛亮的理解前中期尽量打出优势配合队友完成收割。在KPL春季赛中老帅使用了12场诸葛亮，胜率66.7%。</p>
                <p style="text-align: center;">
                    <img alt="王者荣耀KPL中秀得飞起的诸葛亮都是些什么人" src="//img.18183.com/uploads/allimg/170525/70-1F525110002-50.jpg"></p>
                <p>
                    QGhappy、cat，他的诸葛亮打法灵动，走位异常风骚，整个赛季的数据都非常漂亮，而QGhappy本赛季创造了KPL最长连胜CAT功不可没，他的墨子一战成名奠定了最强中单的称谓!本赛季共使用了5场诸葛亮，胜率80%。</p>
                <p style="text-align: center;">
                    <img alt="王者荣耀KPL中秀得飞起的诸葛亮都是些什么人" src="//img.18183.com/uploads/allimg/170525/70-1F525110003.jpg"></p>
                <p>
                    综上所述，每位职业选手都对诸葛亮有自己的独到的见解，在赛场上都发挥出觉足轻重的作用，那么在你眼中谁才是最强诸葛亮呢?</p>
            </div>
            <!--<div class="news-footer"><div class="news-full">160 阅读</div></div>-->
            <ul class="pagination"></ul>
        </div>
    </div>
</article>
</body>
<script src="../../js/jquery-1.11.1.min.js"></script>
<script src="../../js/fruitIndex.js"></script>
</html>