<!DOCTYPE html>
<html style="font-size: 50px !important;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/fruit.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <title></title>
    <style>
	    .aui-bar-nav{    line-height: 0.8rem;}
	    .aui-bar-nav .aui-title{min-height: 0}
	    .aui-bar-nav .aui-btn .aui-iconfont{font-size: 23px}
	    .aui-bar-nav .aui-title{    right: 0;  left: 4px;font-size: 20px;}
	    .aui-bar-nav .aui-btn{  height:45px;}
	    .aui-bar{min-height: 45px;}
	    .aui-bar-nav .aui-pull-left{padding: 0 0.12rem;}
	</style>
</head>
<body class="aui-bg-white">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">攻略详情</div>
</header>
<article class="c_body">
    <div class="for_glb_main" style="font-family:'微软雅黑'; margin-top: 40px">
        <div class="glb_main_content">
            <h1 class="news-title">兰陵王暴力开黑阵容推荐 如何让敌人6分钟必投</h1>
            <div class="news-info">
                <span>2017-05-25</span>
                <span>18183</span>
                <span class="read">阅读：191&nbsp;来源:网络</span>
            </div>
            <div class="news-content">
                <p>
                    在王者荣耀中，打野位置是全场最关键的爆发点，因为他们不仅仅承担着击杀敌人的重责，还要担负起带动全场节奏、限制敌人发育、控制暴君和主宰等重要任务，可以说一个好的打野英雄是助你稳定上分的保证。这其中兰陵王作为刺客英雄中的佼佼者，他将他的进攻天赋和打野完美的进行了结合，成为后排英雄最为惧怕的顶级杀手。下面为大家推荐一套以兰陵王为核心的开黑阵容，相信用此套阵容开黑绝对能让你快速的登上顶峰。</p>
                <center>
                    <img alt="兰陵王暴力开黑阵容推荐 如何让敌人6分钟必投" src="//img.18183.com/uploads/allimg/170525/70-1F525095309.jpg"></center>
                <p>
                    阵容推荐：马可波罗、墨子、高渐离、张飞、兰陵王</p>
                <p>
                    解析：这套阵容最大的特点在于控制突出、爆发力惊人，只要能打出一套完整的控制输出，无论是对线还是团战，都能做到快速的秒杀敌人。兰陵王在这套阵容中主要扮演打野英雄的角色，前中期注重在野区进行发育，也可以在线上吃一波兵线，让自己能快速的升到4级;4级之后开始3路增援，并强势入侵敌军野区，以收割人头建立前期优势为主要目的。团战中兰陵王的打法主要是后手切入收割，利用超强的爆发力率先击杀敌军后排英雄，协助我军建立起最大的团战优势。</p>
                <p>
                    阵容分析</p>
                <center>
                    <img alt="兰陵王暴力开黑阵容推荐 如何让敌人6分钟必投" src="//img.18183.com/uploads/allimg/170525/70-1F525095310.jpg"></center>
                <p>
                    下路：马可波罗</p>
                <p>
                    说马可波罗是现版本中最强势的射手英雄这恐怕一点也不为过，因为无论是在职业联赛还是普通排位局中他都有着极高的出场率，不仅仅是因为他超强的消耗能力和收割能力，还因为他比一般射手英雄更加机动灵活，即便多人围剿也未必能将他击杀。他在这套阵容中扮演我军的核心AD，对线时配合张飞可实现对敌军的无情压制，保证前期获取最大的对战优势;中后期团战时他的主要任务是通过远程消耗来限制敌人的状态，一旦有机会开大强势进团，通过爆发性的输出收割人头，协助友军获取比赛的胜利。</p>
                <center>
                    <img alt="兰陵王暴力开黑阵容推荐 如何让敌人6分钟必投" src="//img.18183.com/uploads/allimg/170525/70-1F525095311.jpg"></center>
                <p>
                    上单：墨子</p>
                <p>
                    墨子在这套阵容中扮演的是我军主要输出AP和辅助英雄，他的特点非常明显，走输出路线时他一炮就可以打出令人窒息的伤害，而且他的攻击范围极广，可以在远程对敌人造成致命的打击;他的控制能力非常突出，使用得当可以对敌人造成连续的控制，是左右比赛胜负的关键角色。他与兰陵王主要是在团战中共同战斗，通过他的控制为兰陵王创造一个更好的输出环境，让兰陵王更容易打出收割敌人的表现。</p>
                <center>
                    <img alt="兰陵王暴力开黑阵容推荐 如何让敌人6分钟必投" src="//img.18183.com/uploads/allimg/170525/70-1F525095312.jpg"></center>
                <p>
                    中单：高渐离</p>
                <p>
                    高渐离是现版本中非常强势的中单英雄，他最大的特点就是爆发力极强的输出，只要能有一个绝佳的切入机会，打出团灭敌人的表现都是相当容易的。高渐离最大的特点还是大招的范围伤害和免伤效果，敌人越多他获得的伤害免疫越高，这让他即便面对多个敌人也能够从容的应对。他与兰陵王同属于后手切入英雄，待张飞和墨子打出团控效果后选择突进，通过超强的输出轻松团灭敌人。</p>
                <center>
                    <img alt="兰陵王暴力开黑阵容推荐 如何让敌人6分钟必投" src="//img.18183.com/uploads/allimg/170525/70-1F525095313.jpg"></center>
                <p>
                    游走：张飞</p>
                <p>
                    张飞在这套阵容中扮演的是我军的核心坦克英雄，他的特点相信大家都非常的了解了，虽然输出相当乏力，而且主要的输出手段也就是在入狂之后伤害加成，对敌人不能构成有效的威胁;但他的辅助能力和扛伤能力却是非常突出，尤其是在前期团战中，可以真正让敌人感到打不动究竟是多么的痛苦。他前期的任务就是辅助马可波罗打出对线优势，保证他生命的绝对安全;中后期团战时他主要承担我军的先手角色，团战爆发前一定要保证大招在手，因为拥有大招的他对整个战局都有至关重要的作用。</p>
                <p>
                    实战运用</p>
                <p>
                    根据以上阵容，团战开始前兰陵王首先开启大招，寻找切入团战的机会;马可波罗、墨子和高渐离通过攻击距离优势对敌人远程消耗;而张飞则在前排扛伤并寻求先手开团的机会。一旦有机会，张飞率先开启大招控制敌人并将敌人推向我军方向，墨子二技能控制后立即一技能突进，随后接大招打出多段控制，同时高渐离选择开大进团，最后兰陵王强势参团收割敌人，相信在这一套输出的打击之下，敌人绝对没有还手的机会。</p>
                <center>
                    <img alt="兰陵王暴力开黑阵容推荐 如何让敌人6分钟必投" src="//img.18183.com/uploads/allimg/170525/70-1F525095313-50.jpg"></center>
                <p>
                    如果你同小伙伴开黑时找不到胜利的节奏，那这套阵容可以很好的帮你解决这个问题;使用这套阵容即便不能快速的取胜，稳稳的上分还是完全没有问题的。</p>
            </div>
            <!--<div class="news-footer"><div class="news-full">191 阅读</div></div>-->
            <ul class="pagination"></ul>
        </div>
    </div>
</article>
</body>
<script src="../../js/jquery-1.11.1.min.js"></script>
<script src="../../js/fruitIndex.js"></script>
</html>