<!DOCTYPE html>
<html style="font-size: 50px !important;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/fruit.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <title></title>
    <style>
	    .aui-bar-nav{    line-height: 0.8rem;}
	    .aui-bar-nav .aui-title{min-height: 0}
	    .aui-bar-nav .aui-btn .aui-iconfont{font-size: 23px}
	    .aui-bar-nav .aui-title{    right: 0;  left: 4px;font-size: 20px;}
	    .aui-bar-nav .aui-btn{  height:45px;}
	    .aui-bar{min-height: 45px;}
	    .aui-bar-nav .aui-pull-left{padding: 0 0.12rem;}
	</style>
</head>
<body class="aui-bg-white">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">攻略详情</div>
</header>
<article class="c_body">
    <div class="for_glb_main" style="font-family:'微软雅黑'; margin-top: 40px">
        <div class="glb_main_content">
            <h1 class="news-title">王者荣耀最强扛塔英雄 用牛魔carry队伍的正确姿势</h1>
            <div class="news-info">
                <span>2017-05-25</span>
                <span>18183</span>
                <span class="read">阅读：114&nbsp;来源:网络</span>
            </div>
            <div class="news-content">
                <p style="text-align: center;">
                    <img alt="王者荣耀最强扛塔英雄 用牛魔carry队伍的正确姿势" src="//img.18183.com/uploads/allimg/170525/70-1F525103636.jpg"></p>
                <p>
                    在王者荣耀中，最为玩家们关注的莫过于各种输出爆表的英雄。然而，越往高端局，玩家们越需要考虑团队配合。真正能够走向胜利的是团队完美的配合。作为虎牙直播最好的牛魔使用者，主播南瓜带来了自己对牛魔的理解，一起来看下吧。</p>
                <p style="text-align: center;">
                    <img alt="王者荣耀最强扛塔英雄 用牛魔carry队伍的正确姿势" src="//img.18183.com/uploads/allimg/170525/70-1F525103636-50.jpg"></p>
                <p>
                    先来看下出装：抵抗之靴、红莲斗篷、不详征兆、魔女斗篷、奔狼纹章、霸者重装。这套装备非常适合牛魔，血量、双抗以及奔狼纹章的主动效果都能让牛魔在越塔时有更多的选择空间。</p>
                <p style="text-align: center;">
                    <img alt="王者荣耀最强扛塔英雄 用牛魔carry队伍的正确姿势" src="//img.18183.com/uploads/allimg/170525/70-1F525103637.jpg"></p>
                <p>
                    再来看下铭文：红色异变、绿色虚空、蓝色调和。铭文主要是以撑血量和减CD为主，能够让牛魔在前期发挥出更大的作用，而异变带来的攻击力和护甲穿透加成也能弥补牛头伤害上的不足。</p>
                <p style="text-align: center;">
                    <img alt="王者荣耀最强扛塔英雄 用牛魔carry队伍的正确姿势" src="//img.18183.com/uploads/allimg/170525/70-1F525103637-50.jpg"></p>
                <p>
                    来看实战，由于牛头的完美控制，马可波罗轻松打出成吨的伤害。</p>
                <p style="text-align: center;">
                    <img alt="王者荣耀最强扛塔英雄 用牛魔carry队伍的正确姿势" src="//img.18183.com/uploads/allimg/170525/70-1F525103638.jpg"></p>
                <p>
                    又是一波团战，牛魔直接越高地塔杀人，带着队友横冲直撞，根本不把对手放在眼里。</p>
                <p>
                    看完这样强势的牛魔，想必各位玩家已然了解上分的正确姿势：那就是合理阵容。如果你想学会牛魔的正确使用方法，不妨打开虎牙直播，主播南瓜正在等你一起上王者哦~</p>
            </div>
            <!--<div class="news-footer"><div class="news-full">114 阅读</div></div>-->
            <ul class="pagination"></ul>
        </div>
    </div>
</article>
</body>
<script src="../../js/jquery-1.11.1.min.js"></script>
<script src="../../js/fruitIndex.js"></script>
</html>