<!DOCTYPE html>
<html style="font-size: 50px !important;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/fruit.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <title></title>
    <style>
        .aui-bar-nav{    line-height: 0.8rem;}
        .aui-bar-nav .aui-title{min-height: 0}
        .aui-bar-nav .aui-btn .aui-iconfont{font-size: 23px}
        .aui-bar-nav .aui-title{    right: 0;  left: 4px;font-size: 20px;}
        .aui-bar-nav .aui-btn{  height:45px;}
        .aui-bar{min-height: 45px;}
        .aui-bar-nav .aui-pull-left{padding: 0 0.12rem;}
    </style>
</head>
<body class="aui-bg-white">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">攻略详情</div>
</header>
<article class="c_body">
    <div class="for_glb_main" style="font-family:'微软雅黑'; margin-top: 40px">
        <div class="glb_main_content">
            <h1 class="news-title">王者日报：团战之夜周五开启 城市赛十省冠军出炉</h1>
            <div class="news-info">
                <span>2017-05-25</span>
                <span>18183</span>
                <span class="read">阅读：72&nbsp;来源:网络</span>
            </div>
            <div class="news-content">
                <p>
                    <span style="color:#ff0000;"><strong>1. 五·五开黑节压轴事件：《王者荣耀》团战之夜本周五晚盛大来袭</strong></span></p>
                <p>
                    2017年5月26日，本周五晚20点，《王者荣耀》五·五开黑节之团战之夜，即将正式开启。届时 ，所有玩家将一同见证体育王者队与暴走家族队的激烈碰撞。由冯潇霆、王濛、郜林、何雯娜、王哲林组成的“体育王者队”与王尼玛、张全蛋、赵铁柱、PINO、木子组成的“暴走家族队”之间到底会演绎出怎样的趣味对战呢?本周五晚20点，全网播出，召唤师快来一同见证这场爆笑对战吧!</p>
                <p>
                    官方渠道：官网、游戏客户端、微信公众号、手Q兴趣部落、官方微博等。</p>
                <p>
                    外部渠道：企鹅电竞、腾讯视频、NOW直播、MOMO直播、YY直播、棒直播、触手直播、大神直播、斗鱼直播、花椒直播、虎牙直播、龙珠直播、梦想直播、聚力游戏、全民直播、狮吼直播、熊猫直播、一直播、易直播、战旗直播等。</p>
                <p style="text-align: center;">
                    <img alt="王者日报：团战之夜周五开启 城市赛十省冠军出炉" src="//img.18183.com/uploads/allimg/170525/70-1F525113357.jpg"></p>
                <p>
                    <span style="color:#ff0000;"><strong>2. 《王者荣耀》城市赛北方十省冠军出炉 5月27日区域决赛终极对决</strong></span></p>
                <p>
                    5月20日至21日，《王者荣耀》第三届王者城市赛北方大区省赛逐渐落幕。经过激烈的角逐，十大省市，23个赛点，46支冠亚军队伍，最终于21日晚诞生出十大省赛冠军：他们是：北京的“TBG”战队、天津的“辉耀”战队、河北的“龙耀7队”战队、郑州的“RNG”战队、安徽的“BOOT”战队、山东的“WKG”战队、辽宁的“Roi”战队、吉林站的“yes”战队、黑龙江的“BAW”战队、内蒙古的“信仰”战队。</p>
                <p>
                    5月27日，十省冠军将迎来最终考验，他们要向总决赛的最后两个席位发起冲击。到底哪两支战队将抓住这宝贵的机会呢?5月27日上午10:00，区域决赛将在哈尔滨市人民防洪胜利纪念塔广场上演，快来一同见证区域王者的诞生吧!</p>
                <p style="text-align: center;">
                    <img alt="王者日报：团战之夜周五开启 城市赛十省冠军出炉" src="//img.18183.com/uploads/allimg/170525/70-1F525113358.jpg"></p>
                <p>
                    <span style="color:#ff0000;"><strong>3.《王者荣耀》校园赛第三轮海选落幕 6月3日济南嘉年华等你来</strong></span></p>
                <p>
                    5月20日至21日，第三届《王者荣耀》校园赛第三轮海选在北京、哈尔滨、济南、沈阳、天津五大城市激烈开战。最终，来自“山东农业大学”的“TG战队”、来自“中央财经大学”的“CUFE战队”、来自“哈尔滨商业大学”的“商大荣耀小镇战队”、来自“沈阳工业大学”的“VF战队”、来自“天津城建大学”的“电竞毒瘤DJDL战队”分别夺得五大城市校园赛冠军。6月3日，这5支战队将齐聚“泉城”济南，为最后一个区域高校王者称号、最后一张总决赛门票展开对决。到底谁会脱颖而出?让我们拭目以待吧!</p>
                <p style="text-align: center;">
                    <img alt="王者日报：团战之夜周五开启 城市赛十省冠军出炉" src="//img.18183.com/uploads/allimg/170525/70-1F525113359.jpg"></p>
                <p>
                    <span style="color:#ff0000;"><strong>4. 5月23日体验服更新 孙悟空技能调整</strong></span></p>
                <p>
                    2017年5月23日21:40——22:40，《王者荣耀》对体验服进行停机更新。本次更新后，孙悟空得到平衡调整。孙悟空的1技能护身咒的抵免技能持续时长由1.5秒改为1秒。对2技能斗战冲锋的伤害做出了调整，更好地与位移性能平衡。此外，英雄庞统被暂时屏蔽。体验服新赛季也在本次更新后开服更新。</p>
                <p style="text-align: center;">
                    <img alt="王者日报：团战之夜周五开启 城市赛十省冠军出炉" src="//img.18183.com/uploads/allimg/170525/70-1F525113401.jpg"></p>
            </div>
            <!--<div class="news-footer"><div class="news-full">72 阅读</div></div>-->
            <ul class="pagination"></ul>
        </div>
    </div>
</article>
</body>
<script src="../../js/jquery-1.11.1.min.js"></script>
<script src="../../js/fruitIndex.js"></script>
</html>