<!DOCTYPE html>
<html style="font-size: 50px !important;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/fruit.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <title></title>
    <style>
	    .aui-bar-nav{    line-height: 0.8rem;}
	    .aui-bar-nav .aui-title{min-height: 0}
	    .aui-bar-nav .aui-btn .aui-iconfont{font-size: 23px}
	    .aui-bar-nav .aui-title{    right: 0;  left: 4px;font-size: 20px}
	    .aui-bar-nav .aui-btn{  height:45px;}
	    .aui-bar{min-height: 45px;}
	    .aui-bar-nav .aui-pull-left{padding: 0 0.12rem;}
	</style>
</head>
<body class="aui-bg-white">
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">攻略详情</div>
</header>
<article class="c_body">
    <div class="for_glb_main" style="font-family:'微软雅黑'; margin-top: 40px">
        <div class="glb_main_content">
            <h1 class="news-title">盘点会和对手同归于尽的英雄 东皇太一最奇葩</h1>
            <div class="news-info">
                <span>2017-05-25</span>
                <span>18183</span>
                <span class="read">阅读：141&nbsp;来源:网络</span>
            </div>
            <div class="news-content">
                <p>
                    王者荣耀作为最近大热的一款游戏，玩家基数实在庞大。小学生都能在游戏中称大神了。游戏中众多的英雄给了玩家充分的选择。这些英雄的技能已经被设定好了，有些很强势，有些很平庸。有的适合单挑，有的适合打团。小编今天要说的是一些比较奇葩的英雄。</p>
                <p>
                    <u><a href="http://db.18183.com/wzry/hero/9514.html?frmstyle=100" target="_self"><span style="color:#ff0000;"><strong>NO 5 韩信</strong></span></a></u></p>
                <p style="text-align: center;">
                    <img alt="盘点会和对手同归于尽的英雄 东皇太一最奇葩" src="//img.18183.com/uploads/allimg/170525/56-1F525101045.jpg"></p>
                <p>
                    《王者荣耀》玩家口中有句话“十个韩信九个坑，剩下一个可能还不是大神”，作为前期能在野区横行霸道的英雄，碰到谁都不虚，冲上去就给干。只不过到游戏后期韩信作用越来越小，如果不转成一个半肉偷塔英雄的话，打团开大发狂冲进去简直就是自杀式袭击并且不一定能秒掉人。</p>
                <p>
                    <u><a href="http://db.18183.com/wzry/hero/9552.html?frmstyle=100" target="_self"><span style="color:#ff0000;"><strong>NO 4 关羽</strong></span></a></u></p>
                <p style="text-align: center;">
                    <img alt="盘点会和对手同归于尽的英雄 东皇太一最奇葩" src="//img.18183.com/uploads/allimg/170525/56-1F525101046.jpg"></p>
                <p>
                    关羽和韩信一样，作为一个前期游走和单挑能力极强的英雄在野区收割资源。利用高机动性可以迅速帮线上取得优势。但是到游戏后期，也正是因为关羽的这种高机动性很容易让人上头，以为开启了加速就必须要冲进人群秒人，结果可想而知!明摆着就是自杀!</p>
                <p>
                    <u><a href="http://db.18183.com/wzry/hero/9546.html?frmstyle=100" target="_self"><span style="color:#ff0000;"><strong>NO 3 钟馗</strong></span></a></u></p>
                <p style="text-align: center;">
                    <img alt="盘点会和对手同归于尽的英雄 东皇太一最奇葩" src="//img.18183.com/uploads/allimg/170525/56-1F525101047.jpg"></p>
                <p>
                    如果说钟馗发起狠来自杀你会理解吗?做纯输出的钟馗可以充分利用自己的被动技能，在一波团战中打出爆炸伤害。没办法，钟馗死亡后3秒会引爆周围500码的区域并附加高额伤害!你瞅啥?团战钟馗发起狂一套技能丢完，就连死了也要打伤害!这才叫自爆卡车!</p>
                <p>
                    <u><a href="http://db.18183.com/wzry/hero/9540.html?frmstyle=100" target="_self"><span style="color:#ff0000;"><strong>NO 2 兰陵王</strong></span></a></u></p>
                <p style="text-align: center;">
                    <img alt="盘点会和对手同归于尽的英雄 东皇太一最奇葩" src="//img.18183.com/uploads/allimg/170525/56-1F525101047-50.jpg"></p>
                <p>
                    看到兰陵王大家肯定会纳闷，这英雄有卵用?确实，前中期强势期一过，兰陵王确实没什么用，但是利用自己的隐身机制还是可以去偷人!正是因为兰陵王有这个隐身，所有很玩家容易上头，以为开了隐身就能浪来浪去，结果一不小心就会被集火秒杀!让你装X!</p>
                <p>
                    <u><a href="http://db.18183.com/wzry/hero/13255.html?frmstyle=100" target="_self"><span style="color:#ff0000;"><strong>NO 1 东皇太一</strong></span></a></u></p>
                <p style="text-align: center;">
                    <img alt="盘点会和对手同归于尽的英雄 东皇太一最奇葩" src="//img.18183.com/uploads/allimg/170525/56-1F525101048.jpg"></p>
                <p>
                    当东皇太一刚出世的时候，大家都认为这是一个奇葩英雄。原因就在于东皇太一的大招是将自己与敌方二人签订契约共同承受伤害且不能解除。这就是明摆着要死一起死的心态，所以大部分玩家在玩东环太一的时候都是选择出些肉装来撑下血量和抗性。作为一个先手英雄及拥有一个奇葩大招，如果没有血量和抗性怎么进去秒人?</p>
                <p>
                    王者荣耀中的奇葩英雄还有很多，还有网友说庞统和黄忠也是很厉害的。，诸葛亮超级会抢人头，干将会丢老婆，大家觉得还有哪些英雄也是这样的呢?</p>
            </div>
            <!--<div class="news-footer"><div class="news-full">141 阅读</div></div>-->
            <ul class="pagination"></ul>
        </div>
    </div>
</article>
</body>
<script src="../../js/jquery-1.11.1.min.js"></script>
<script src="../../js/fruitIndex.js"></script>
</html>