<!DOCTYPE html>
<html class="page-html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
  <link rel="stylesheet" type="text/css" href="../../css/index_chat.css" />
  <title>喷塔Q</title>
</head>
<body>
<!--头部-->
<header class="aui-bar aui-bar-nav" style="display:none">
    <a class="aui-pull-left aui-btn" href="javascript:history.go(-1);">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">商城条款</div>
</header>
<article class="mwAuto">
    <div class="aui-content-padded text-format">
        <h4 class="aui-margin-b-10">1.您需服务的游戏帐号必须有完善的注册资料，并在订单有特殊纠纷情况下配合本站工作，若因帐号资料不完善而导致订单纠纷无法处理，将有可能对您的利益造成不必要的损失。需要服务的账号注明段位信息，否则订单出现纠纷时不受平台保护。</h4>
        <h4 class="aui-margin-b-10">2.您的游戏帐号必须设有密码保护，否则因此引发的任何损失将由您自行承担。（注：喷塔Q不会向您索要任何有关密码保护的资料。）</h4>
        <h4 class="aui-margin-b-10">3.若出现帐号被盗等意外情况，您须及时协助取回密码，喷塔Q将根据实际情况进行核实并予以调解、协商处理，喷塔Q享有最终裁判权和解释权。（注：极品装备或是贵重的装备请转移或绑定，喷塔Q只对您的服务角色资金安全负责。）</h4>
        <h4 class="aui-margin-b-10">4.在服务过程中，请保持您所填写的通讯方式畅通，本站客服在联系双方时，如3小时内未取得联系，我们依据现有的证据和规则直接进行判定。</h4>
        <h4 class="aui-margin-b-10">5.如因您自身原因造成的退单，将根据完成的服务进度扣除您相应的服务费用支付给接单者。如若未及时更改密码由此造成的损失需由您自行承担。建议需终止订单优先更改密码。</h4>
        <h4 class="aui-margin-b-10">6.发布时间必须以订单中所选填的服务要求时间为准。（注：官方维护时间除外，如因特殊原因要求增加时间，请给对方留言协商，协商成功之后，按新约定时间开始计算。）</h4>
        <h4 class="aui-margin-b-10">7. 发布者服务过程中可投诉事项：帐号被封停（含暂时冻结，王者荣耀被封号需提供带有游戏账号及封号原因证据及游戏账号封停页面证据）、游戏内物品（装备）被盗、被破坏，接单者未经允许动用金币，未经您允许擅自使用第三方外挂软件以及非正常手段方式进行服务，服务期间战绩差、掉段，服务过程中接单者联系客户或自称服务人员等。发布者发现接单者有上述行为时及时提供游戏中的截图进行投诉，喷塔Q会根据规则扣除接单者相应的资金对发布者进行补偿。（注：赔偿金额不超过接单者安全保证金和效率保证金上限）</h4>
        <h4 class="aui-margin-b-10">8.服务过程中，请不要登陆服务帐号或者角色及修改游戏密码，以免影响服务进度，自行登陆服务角色及修改密码而造成异常情况发生，将不能得到保护。如确有需求，请留言给接单方，未经同意自行登陆帐号和修改密码而造成的任何损失，所有责任默认您自行承担。</h4>
        <h4 class="aui-margin-b-10">9.接单者提交完成后，请您在48小时内修改游戏密码并确认订单完成。如您未确认完成，本站将在48小时后默认您对该笔订单确认完成。当您对完成情况不满意或有疑问时，切勿通过验收并在48小时内提交申诉，否则在本站默认完成后的任何损失由您自行承担。</h4>
        <h4 class="aui-margin-b-10">10.如遇发布订单有写明的规则与服务规则有冲突，以服务协议为准。 有指定英雄、录制视频等特殊要求必须写在服务标题和服务要求中，若标题无特殊要求，订单出现纠纷时您的权益将不受平台保护。 </h4>
        <h4 class="aui-margin-b-10">11.因服务器回档或其他不可抗因素造成接单方无法正常完成或进度延迟的情况，接单者须提供相关证据请发单方谅解，相关追加时间等事宜须双方协商解决问题后及时在订单上留言确认。</h4>
        <h4 class="aui-margin-b-10">12. 服务过程中如有一方需要更改服务要求或时间，请及时提交协商结果或在订单详细中留言并双方确认。其他任何方式提交的协议本站一概不予采信，您的权益也将得不到保障。</h4>
        <h4 class="aui-margin-b-10">13.当您申诉反映问题时，请及时上传证据至留言信息中，以方便客服核实查证，未及时提供证据造成的损失平台不予承担。</h4>
        <h4 class="aui-margin-b-10">14.提交申诉后，双方可通过留言板协商：协商达成一致，客服当班期间及时根据双方协商结果操作结算；协商无果，客服根据现有证据在3个工作日内直接操作处理。</h4>
        <h4 class="aui-margin-b-10">15.用户之间平台联系后通过线下交易或其它平台交易，喷塔Q有权封停发单账户。</h4>
        <h4 class="aui-margin-b-10">16.服务过程中，因接单者原因导致玩家的游戏账号被封停（含暂时冻结）、删号、被盗号将返还号主所有服务费用，并由接单者赔付不超过服务费的金额。</h4>
        <h4 class="aui-margin-b-10">17.以上条款未尽事宜，喷塔Q享有最终解释权。</h4>
    </div>
</article>
<script src="../../js/jquery-1.11.1.min.js"></script>
<script>
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r != null){
            return r[2];
        }
    }

    if(GetQueryString("page")=="aboutUs"){//关于我们进入的显示后退按钮
        $(".aui-bar").show();
		$("article ").addClass("c_body");
    }
</script>
</body>
</html>