<!DOCTYPE html>
<html class="page-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index_chat.css" />
    <title>喷塔Q</title>
</head>
<body>
<!--头部-->
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn" href="javascript:;" id="typeReturn">
        <span class="aui-iconfont aui-icon-left"></span>
    </a>
    <div class="aui-title">排位赛</div>
    <a class="aui-pull-right aui-btn" href="/view/html/index.html">
        <span class="aui-iconfont aui-icon-home"></span>
    </a>
</header>
<article class="c_body Fbtn-L-body">
    <div class="type-detail">
        <ul class="type-part1">
            <li class="aui-margin-b-10">
                <label class="fl">版本区服：</label>
                <div class="form-row sel-row">
                    <select class="type-select-area">
                    </select>
                    <select class="type-select-serve">
                    </select>
                </div>
            </li>
            <li class="aui-margin-b-10">
                <label class="fl">当前段位：</label>
                <div class="form-row dan-row">
                    <select class="type-select-dan">
                    </select>
                    <input class="star-text" id="nowStar" type="number">
                    <span class="dan-right">星</span>
                </div>
            </li>
            <li>
                <label class="fl">目标段位：</label>
                <div class="form-row dan-row">
                    <select class="type-select-dan"></select>
                    <input class="star-text" id="targetStar" type="number">
                    <span class="dan-right">星</span>
                </div>
            </li>
        </ul>
        <ul class="aui-list aui-margin-t-15">
            <li class="aui-list-item">
                <div class="aui-list-item-inner grade-inner">
                    <div class="aui-list-item-label wAuto fl">铭文等级：</div>
                    <div class="aui-list-item-input grade-input fl">
                        <input type="number" placeholder="如:120(非必填)" id="mwLv">
                    </div>
                    <div id="classifyItem" class="fr overlay" onclick="">
                        <span>分类填写</span>
                        <i class="aui-iconfont aui-icon-right"></i>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="aui-list aui-margin-t-15">
            <li class="aui-list-item overlay" id="heroItem"  onclick="">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label">已有英雄</div>
                    <i class="aui-iconfont aui-icon-right"></i>
                </div>
            </li>
        </ul>
        <section class="aui-grid has-hero-grid">
            <div class="aui-row" id="showSelHeroes"></div>
        </section>
        <div class="fix-note">更多代练要求，请与客服沟通！</div>
    </div>
    <input type="hidden" id="type" value="">
    <input type="hidden" id="tank" value="">
    <input type="hidden" id="soldier" value="">
    <input type="hidden" id="assassin" value="">
    <input type="hidden" id="master" value="">
    <input type="hidden" id="shooter" value="">
    <input type="hidden" id="assist" value="">
</article>
<footer class="aui-card-list-footer oD-footer aui-border-t">
    <div class="aui-btn aui-btn-basic aui-btn-block" id="consultPrice" onclick="notLogin(1)">咨询报价</div>
</footer>
</body>
<script src="../../js/jquery-1.11.1.min.js"></script>
<script src="../../js/layer/layer.js"></script>
<script src="../../js/myCommon.js"></script>
<script src="../../js/publicSpace.js"></script>
<script src="../../js/heroShow.js"></script>
<script>
    /* 获取页面显示的值 */
    (function () {
        setTimeout(loadData,500);
        function loadData(){
            try{
                var getHasVal = JSON.parse(sessionStorage.getItem("setHasVal1"));
                console.log(getHasVal[0])
                $("#type").val(getHasVal[0].type);
                $(".type-select-area").val(getHasVal[0].gameArea);
                $(".type-select-serve").val(getHasVal[0].gameServer)
                $(".star-text").eq(0).val(getHasVal[0].nowStar);
                $("#mwLv").val(getHasVal[0].mwLv);
                $(".star-text").eq(1).val(getHasVal[0].targetStar);
                $(".type-select-dan").eq(0).val(getHasVal[0].nowLv);
                $(".type-select-dan").eq(1).val(getHasVal[0].targetLv);
            }catch(err){
                console.log(err.message)
            }
            //获取铭文类型填写每个具体值，赋值给相应隐藏域
            typeClassify(GetQueryString("type"));
        }
    })();

    
    (function () {
        /* 星级格式失去焦点判断 */
        $("#nowStar").bind('input change',listennowStar);
        $("#targetStar").bind('input change',listentargetStar);
        function listennowStar(){
            if($("#nowStar").val() != "" && $("#nowStar").val() != null) {
                if (!(/^[1-9]\d*|0$/.test($("#nowStar").val()))) {
                    layer.msg("星级只能为数字");
                    $("#nowStar").val("");
                }
            }
        }
        function listentargetStar(){
            if($("#targetStar").val() != "" && $("#targetStar").val() != null) {
                if (!(/^[1-9]\d*|0$/.test($("#targetStar").val()))) {
                    layer.msg("星级只能为数字");
                    $("#targetStar").val("");
                }
            }
        }
    })();
</script>
</html>