<!DOCTYPE html>
<html class="page-html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
  <link rel="stylesheet" type="text/css" href="../../css/index_chat.css" />
  <title>喷塔Q</title>
</head>
<body>
<!--头部-->
<header class="aui-bar aui-bar-nav">
  <a class="aui-pull-left aui-btn" href="javascript:history.go(-1);">
    <span class="aui-iconfont aui-icon-left"></span>
  </a>
  <div class="aui-title">安全认证</div>
  <a class="aui-pull-right aui-btn" href="/view/html/index.html">
      <span class="aui-iconfont aui-icon-home"></span>
  </a>
</header>
<article class="c_body">
  <section class="aui-content-padded">
    <div class="input-box-max aui-padded-t-15">
      <input  type="text" placeholder="请输入姓名">
    </div>
    <div class="input-box-max aui-padded-t-15">
      <input  type="text" placeholder="请输入身份证号">
    </div>
    <div class="aui-padded-t-15 aui-padded-b-15 aui-padded-l-15">手机号： 18623****35</div>
    <div class="code-box aui-padded-b-15">
      <div class="aui-btn aui-btn-basic">获取验证码</div>
      <div class="input-code">
        <input  type="text" placeholder="请输验证码">
      </div>
    </div>
    <div  class="aui-padded-b-15 aui-padded-t-15">
      <div class="aui-btn aui-btn-basic aui-btn-block">提交</div>
    </div>
  </section>
</article>
</body>
</html>