<!DOCTYPE html>
<html lang="en" class="page-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <title>[喷塔Q] 专业代练平台</title>
    <meta name="applicable-device" content="mobile" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/download.css" />
    <link href="../../favicon.ico" rel="shortcut icon"/>
</head>
<body>
<div class="c_box">
    <!-- title -->
<!--     <div class="c_title"></div> -->
    <!-- btn -->
<!--     <div class="c_btn"> -->
<!--         <a href="http://q.m.3yx.com/">去发单</a> -->
<!--     </div> -->
    <!-- QR -->
<!--     <div class="c_QR"> -->
<!--         <img src="../../images/downQR.png" alt=""> -->
<!--     </div> -->

</div>
</body>
</html>